<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/admin/overview.css">
</head>
	
<body>
	<div id="container">
	<div id="numbers">
		<div class="flex">
			<i class="fa-solid fa-basket-shopping"></i>
			<div class="flex2">
				<div class="text" id="soldProducts"></div>
				<div class="text2">Number of sold products</div>
			</div>
		</div>
		<div class="flex">
			<i class="fa-solid fa-truck-fast"></i>
			<div>
				<div id="placedOrders" class="text"></div>
				<div class="text2">Number of placed orders</div>
			</div>
		</div>
		<div class="flex">
			<i class="fa-solid fa-dollar-sign"></i>
			<div class="flex2">
				<div id="total" class="text"></div>
				<div class="text2">Total of money</div>
			</div>
		</div>
	</div>
	
		<div id="products">
			<h1>Top 5 Best Sellers</h1>
			<div id="productList"></div>
		</div>
		<div id="orders">
			<h1>All orders</h1>
			<div id="orderList"></div>
		</div>
	
	</div>
	<script src="/js/admin/overview.js"></script>
</body>
</html>