<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/user/image.css">

</head>

<body>
	<div id="imageContainer" class="imageContainer"></div>
	<button id="close">X</button>
	<div id="notifContainer" style="display:none;">
			<div id="notification">test</div>
			<div id="hideNotification">╳</div>
	</div>
	<script src="/js/user/picture.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script src="/js/socket.js"></script>
</body>

</html>