<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/auth/login.css">
	<title>Reset password</title>
</head>

<body>
	<div class="container">
	<h1>Reset password</h1><br><br><br>
	<div id="error" style="color:#8B0000;"></div>
	<div id="part1">
	<form id="resetForm">
		<input type="email" id="email" placeholder="enter your email" required style="display:inline;">
		<button type="submit" style="display:inline;">send</button>
	</form>
	</div>
	<div id="part2" style="display:none;">
		<p id="message">We sent a verification code to your email.The code expires in 30 minutes!</p>
		<form id="codeForm">
			<input type="text" id="code" required placeholder="enter verification code"><br>
			<input type="password" id="newPassword" required placeholder="enter new password"><br>
			<input type="password" id="confirmPassword" required placeholder="confirm password" style="margin-left:77px;">
			<button type="submit" style="display:inline;">send</button>
		</form>
		<br>
		<form id="resendForm">
			<span>Didn't get an email?</span>
			<button type="submit" style="display:inline;">resend email</button>
		</form>
	</div>
	</div>
		
	<script src="/js/auth/resetPassword.js"></script>
</body>

</html>